:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  background: black;
}

body {
  margin: 5%;
  background: mediumseagreen;
  border-radius: 2rem;
}

.centered-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hit {
  background-color: red;
  font-weight: bolder;
  padding: 0.5rem;
  margin: 0.25rem;
}

.stand {
  background-color: red;
  font-weight: bolder;
  padding: 0.5rem;
  margin: 0.25rem;
}

.be-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}
